<%= link_to "Add Question", new_question_path %><br/>

<ul>
  <% if category.questions.size != 0 %>
    <% category.questions.each do |question| %>
      <li>
        <h2><%= link_to question.text, edit_question_path(question) %></h2>
        <%= render 'answer_list', :question => question %>
      </li>
    <% end %>
  <% end %>
</ul>
<%= link_to "Add Question", new_question_path %>
</li>
