<div id="movefromleft">
  <h1>Administration</h2>

  <p id="notice"><%= notice %></p>

  <div contextmenu="new-context-menu">
  	<%= render 'category_list' %>
  </div>
  <menu id="new-context-menu" type="context">
    <menuitem>Hello World</menuitem>
  </menu>
</div>
