// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#logoContainer {
  background-color: #0098FF;
  height: 100px;
  width: 100%;
}


#logo {
  margin-top: -25px;
  margin-left: -50px;
  float:left;
}

#logotext {
  float: left;
  color: white;
  margin-top: 40px;
  margin-left: -30px;
  font-size: 22px;
  font-weight: bold;
}

#category {
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
}

#text {
  background-color: #0098FF;
  opacity: 0.8;
}
