<!DOCTYPE html>
<html>
<head>
  <title>CertTraining</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="logoContainer">
    <div>
      <img id="logo" src="/assets/Osudio_horizontal-white.png" width="300" height="150"/>
    </div>
    <div id="logotext">
      Certification Center
    </div>
  </div>
  <br/>
  <br/>
  <div id="content">
    <%= yield %>
  </div>
</body>
</html>
